@{
    ViewData["Title"] = "Interview Preparations Page";
}

<div class="container shadow-lg rounded">

            <div class="ps-4 pt-4 pb-4">
                <p class="fs-5 fw-bold p-4">There are many common interview questions that employers may ask during a job interview.<br> Here are some examples:</p>
                <hr>
                <p class="badge bg-secondary" style="font-size:17px">Tell me about yourself.</p>
                <p class="pe-1 ps-5" style="font-size:14px;">Keep it professional,<br> start by highlighting your relevant skills and experiences,<br> show your enthusiasm for the job and the company</p>
                <p class="badge bg-secondary mt-3" style="font-size:17px">Why are you interested in this position/company?</p>
                <p class="pe-1 ps-5" style="font-size:14px;">Look at the company's website,<br> read about their mission,<br> vision and values .<br> make sure you understand the responsibilities and requirements of the role.</p>
                <p class="badge bg-secondary mt-3" style="font-size:17px">Can you tell me about a time when you had to overcome a challenge?</p>
                <p class="pe-1 ps-5" style="font-size:14px;">Explain what steps you took using your problem-solving skills to overcome the challenge,<br> then share what you learned from the experience and how you grew from it</p>
                <p class="badge bg-secondary mt-3" style="font-size:17px">Can you give an example of a successful project you worked on?</p>
                <p class="pe-1 ps-5" style="font-size:14px;">it's important to be specific and highlight your contributions to the project. <br>You can use the STAR method (Situation, Task, Action, Result) to structure your answer</p>
                <p class="badge bg-secondary mt-3" style="font-size:17px">What experience do you have in this field?</p>
                <p class="pe-1 ps-5" style="font-size:14px;">Highlight your relevant experience,<br>Use specific details and numbers when discussing your experience,<br>Relate your experience to the job,<br>Show your willingness to learn,</p>
                <p class="badge bg-secondary mt-3" style="font-size:17px">What are your salary expectations?</p>
                <p class="pe-1 ps-5" style="font-size:14px;">Research the salary range for similar positions in your industry and location,<br> provide a range instead of a specific number This shows that you're flexible and open to negotiation,<br> Emphasize your skills and qualifications for the position This can help you negotiate a higher salary based on your value to the company</p>
                <hr>
            </div>

                <div id="carouselControls" class="carousel carousel-dark slide carouse mt-5" data-bs-ride="carousel" data-interval="false">
                        <div style="margin-right:5%;margin-left:5%">
                            <div class="card shadow-lg mb-4 rounded p-3" >
                                <div class="carousel-inner">
                                    <div class="carousel-item active">
                                        <video   controls src="/videos/TopInterviewTips.mp4" type="video/mp4">
                                            Your browser does not support the video tag.
                                        </video>
                                    </div>   
                                    <div class="carousel-item">
                                        <video   controls src="/videos/JobInterview.mp4" type="video/mp4">
                                            Your browser does not support the video tag.
                                        </video>
                                    </div>        
                                </div>
                            </div>
                        </div>
                        <button class="carousel-control-prev" style="width:50px;" type="button" data-bs-target="#carouselControls"
                            data-bs-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Previous</span>
                        </button>
                        <button class="carousel-control-next" style="width:50px;" type="button" data-bs-target="#carouselControls"
                            data-bs-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Next</span>
                        </button>
                    </div>

            <div class="ps-4  pb-4" style="margin-top:100px">
                <hr class="border-secondary border-3 opacity-75">
                <p class="fs-5 fw-bold p-4">Your curriculum vitae (CV) is an essential tool for landing your dream job.<br> Here, we will provide tips and guidance on how to create a strong and effective CV</p>
                <hr>
                    <ol class="">
                        <li class="list-group-item text-start mb-4">
                            <div class="ms-2 me-auto">
                            <div class="fw-bold">Tailor your CV to the job</div>
                            <p style="font-size:14px;">Customize your CV to fit the specific job you're applying for.</p>
                            </div>
                        </li>
                        <li class="list-group-item text-start mb-4">
                            <div class="ms-2 me-auto">
                            <div class="fw-bold">Use a clear structure</div>
                            <p style="font-size:14px;">The standard sections for a CV include <br>personal details, education, work experience, skills, and references</p>
                            </div>
                        </li>
                        <li class="list-group-item text-start mb-4">
                            <div class="ms-2 me-auto">
                            <div class="fw-bold">Highlight your achievements</div>
                            <p style="font-size:14px;">Use numbers and statistics to back up your claims.</p>
                            </div>
                        </li>
                        <li class="list-group-item text-start mb-4">
                            <div class="ms-2 me-auto">
                            <div class="fw-bold">Proofread carefully</div>
                            <p style="font-size:14px;">Typos and spelling errors can create a negative impression and detract from your qualifications</p>
                            </div>
                        </li>
                        <li class="list-group-item text-start mb-4">
                            <div class="ms-2 me-auto">
                            <div class="fw-bold">Keep it up-to-date</div>
                            <p style="font-size:14px;">Update your CV regularly to reflect any new skills or experiences you have gained</p>
                            </div>
                        </li>
                        <li class="list-group-item text-start mb-4">
                            <div class="ms-2 me-auto">
                            <div class="fw-bold">Keep it concise</div>
                            <p style="font-size:14px;">
                                Employers typically spend only a few seconds scanning a CV<br> Stick to a maximum of two pages,<br> and use bullet points to make your experience and qualifications stand out.</p>
                            </p>
                            </div>
                        </li>
                    </ol>
                <hr>
            </div>

            <img src="\images\Cv.png" alt="">





</div>

@* 
    3. infographics to illustrate data
    4. tips
 *@
