@model EmployerModel 

@{
    ViewData["Title"] = "Job Offer Page";
}

<div class="container mt-5">
    <div class="container">
        <div class="card shadow-lg p-3 mb-5 bg-body rounded" style="width:100%">
            <div class="row d-flex justify-content-center mb-5">
                <img src="@Model.CoverImage" class="card-img-top" style="height:20rem;width:25rem;margin-top:50px">
            </div>
            <div class="card-body p-3 mt-3 ms-5">
                    <p class="card-text"></p><span class="nbtext">Name: </span>@Model.Name</p>
                    <p class="card-text"><span class="nbtext">Field: </span>@Model.Field</p>

                @* to add list of cars here *@

                @* to add a biography of the brand *@
                <a asp-controller="Home" asp-action="JobApplyForm" class="btn filterbtn btn-outline-success">Apply</a>
            </div>
        </div>
    </div>
</div>