@import url(https://fonts.googleapis.com/css?family=Abril+Fatface|Lato|Nunito+Sans:400,600);
@import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css);


.white-text-container a,
.white-text-container h1,
.white-text-container h2,
.white-text-container h3,
.white-text-container h4,
.white-text-container h5,
.white-text-container p {
  color: #fff
}

@media (min-width:992px) {
  .section-half-background-image-container .image-column {
    position: absolute;
    display: block;
    top: 0;
    z-index: 0;
    bottom: 0;
    width: 50%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top
  }
}

.background-image-container {
  position: relative;
  text-align: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  padding: 12% 0
}

.overlay {
  background-color: hsla(0, 0%, 100%, .2);
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0
}