@import url('https://fonts.googleapis.com/css2?family=Tilt+Warp&display=swap');

.sHeader {
  font-family: 'Tilt Warp', cursive;
}

:root {
  --bg-color: #ffff;
  --text-color: #221314;
  --second-color: #181717;
  --main-color: #9e0059;
  --big-font: 6rem;
  --h2-font: 3rem;
  --p-font: 1.1rem;
  /* 1 rem = 16px */
}

.header {
  color: white;
  font-family: 'Tilt Warp', cursive;
  font-size: 60px;
}

.ml13 {
  font-size: 1.9em;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  font-weight: 600;
}

.ml13 .letter {
  display: inline-block;
  line-height: 1em;
}

.text {
  color: white;
  font-family: 'Tilt Warp', cursive;
}

@media (min-width:992px) {
  .section-half-background-image-container .image-column {
    position: absolute;
    display: block;
    top: 0;
    z-index: 0;
    bottom: 0;
    width: 50%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top
  }
}

.background-image-container {
  text-align: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
}

.overlay {
  background-color: hsla(0, 100%, 100%, .2);
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0
}

.row-items {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, auto));
  grid-gap: 5rem;
  align-items: center;
  text-align: center;
  margin-top: 5rem;
}

.container-box {
  background: var(--bg-color);
  border: 1px solid #f0eded;
  padding: 50px 10px;
  border-radius: 4px;
  transition: all 1s ease 0s;
  cursor: pointer;
}

.container-box h4 {
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 8px;
}

.container-box p {
  font-size: 15px;
  color: var(--second-color);
}

.container-box:hover {
  box-shadow: 5px 30px 56.1276px rgb(55 55 55 / 12%);
  border: 12px solid transparent;
  transform: translateY(-3px);
}

.offer-box:hover {
  transition: all 1s ease 0s;
  cursor: pointer;
  box-shadow: 5px 30px 56.1276px rgb(55 55 55 / 12%);
  border: 1px solid gray;
  transform: translateY(-15px);
}

.container-img img {
  height: 100px;
  width: 100px;
  padding: 10px;
  background: var(--bg-color);
  box-shadow: 5px 10px 30px rgb(85 85 85 / 20%);
  border-radius: 4px;
  margin-bottom: 15px;
  cursor: pointer;
}